In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

import os
os.environ["GCLOUD_PROJECT"] = "utopian-courier-382221"

import warnings
warnings.filterwarnings('ignore')
pd.options.display.max_rows =10
%matplotlib inline

In [2]:
import bq_helper

# Helper object
openAQ = bq_helper.BigQueryHelper(active_project='bigquery-public-data',
                                 dataset_name='nhtsa_traffic_fatalities')
# List of table
print('El número de tablas es: ', len(openAQ.list_tables()))
lista_tablas = openAQ.list_tables()
print(lista_tablas)

El número de tablas es:  143
[' accident_2015', ' accident_2016', ' accident_2017', ' accident_2018', ' accident_2019', ' accident_2020', ' cevent_2015', ' cevent_2016', ' cevent_2017', ' cevent_2018', ' cevent_2019', ' cevent_2020', ' damage_2015', ' damage_2016', ' damage_2017', ' damage_2018', ' damage_2019', ' damage_2020', ' distract_2015', ' distract_2016', ' distract_2017', ' distract_2018', ' distract_2019', ' distract_2020', ' drimpair_2015', ' drimpair_2016', ' drimpair_2017', ' drimpair_2018', ' drimpair_2019', ' drimpair_2020', ' factor_2015', ' factor_2016', ' factor_2017', ' factor_2018', ' factor_2019', ' factor_2020', ' maneuver_2015', ' maneuver_2016', ' maneuver_2017', ' maneuver_2018', ' maneuver_2019', ' maneuver_2020', ' nmcrash_2015', ' nmcrash_2016', ' nmcrash_2017', ' nmcrash_2018', ' nmcrash_2019', ' nmcrash_2020', ' nmimpair_2015', ' nmimpair_2016', ' nmimpair_2017', ' nmimpair_2018', ' nmimpair_2019', ' nmimpair_2020', ' nmprior_2015', ' nmprior_2016', ' nmprior_2017', ' nmprior_2018', ' nmprior_2019', ' nmprior_2020', ' parkwork_2015', ' parkwork_2016', ' parkwork_2017', ' parkwork_2018', ' parkwork_2019', ' parkwork_2020', ' pbtype_2015', ' pbtype_2016', ' pbtype_2017', ' pbtype_2018', ' pbtype_2019', ' pbtype_2020', ' safetyeq_2015', ' safetyeq_2016', ' safetyeq_2017', ' safetyeq_2018', ' safetyeq_2019', ' safetyeq_2020', ' vevent_2015', ' vevent_2016', ' vevent_2017', ' vevent_2018', ' vevent_2019', ' vevent_2020', ' vindecode_2015', ' violatn_2015', ' violatn_2016', ' violatn_2017', ' violatn_2018', ' violatn_2019', ' violatn_2020', ' vision_2015', ' vision_2016', ' vision_2017', ' vision_2018', ' vision_2019', ' vision_2020', ' vsoe_2015', ' vsoe_2016', ' vsoe_2017', ' vsoe_2018', ' vsoe_2019', ' vsoe_2020', 'accident_2015', 'accident_2016', 'cevent_2015', 'cevent_2016', 'damage_2015', 'damage_2016', 'distract_2015', 'distract_2016', 'drimpair_2015', 'drimpair_2016', 'factor_2015', 'factor_2016', 'maneuver_2015', 'maneuver_2016', 'nmcrash_2015', 'nmcrash_2016', 'nmimpair_2015', 'nmimpair_2016', 'nmprior_2015', 'nmprior_2016', 'parkwork_2015', 'parkwork_2016', 'pbtype_2015', 'pbtype_2016', 'person_2015', 'person_2016', 'safetyeq_2015', 'safetyeq_2016', 'vehicle_2015', 'vehicle_2016', 'vevent_2015', 'vevent_2016', 'vindecode_2015', 'vindecode_2016', 'violatn_2015', 'violatn_2016', 'vision_2015', 'vision_2016', 'vsoe_2015', 'vsoe_2016']

In [3]:
import re
lista_vacia = []
lista_2015 = []
for tabla in lista_tablas:
    x = re.search('2015', tabla)
    
    if x:
        lista_2015.append(x.string)
    else: pass
print(len(lista_2015))

38

In [4]:
lista_2015

[' accident_2015',
 ' cevent_2015',
 ' damage_2015',
 ' distract_2015',
 ' drimpair_2015',
 ' factor_2015',
 ' maneuver_2015',
 ' nmcrash_2015',
 ' nmimpair_2015',
 ' nmprior_2015',
 ' parkwork_2015',
 ' pbtype_2015',
 ' safetyeq_2015',
 ' vevent_2015',
 ' vindecode_2015',
 ' violatn_2015',
 ' vision_2015',
 ' vsoe_2015',
 'accident_2015',
 'cevent_2015',
 'damage_2015',
 'distract_2015',
 'drimpair_2015',
 'factor_2015',
 'maneuver_2015',
 'nmcrash_2015',
 'nmimpair_2015',
 'nmprior_2015',
 'parkwork_2015',
 'pbtype_2015',
 'person_2015',
 'safetyeq_2015',
 'vehicle_2015',
 'vevent_2015',
 'vindecode_2015',
 'violatn_2015',
 'vision_2015',
 'vsoe_2015']

In [5]:
query = """ SELECT *
            FROM bigquery-public-data.nhtsa_traffic_fatalities.accident_2015
"""

In [6]:
df1 = openAQ.query_to_pandas(query)
df1

,state_number,state_name,consecutive_number,number_of_vehicle_forms_submitted_all,number_of_motor_vehicles_in_transport_mvit,number_of_parked_working_vehicles,number_of_forms_submitted_for_persons_not_in_motor_vehicles,number_of_persons_not_in_motor_vehicles_in_transport_mvit,number_of_persons_in_motor_vehicles_in_transport_mvit,number_of_forms_submitted_for_persons_in_motor_vehicles,...,minute_of_ems_arrival_at_hospital,related_factors_crash_level_1,related_factors_crash_level_1_name,related_factors_crash_level_2,related_factors_crash_level_2_name,related_factors_crash_level_3,related_factors_crash_level_3_name,number_of_fatalities,number_of_drunk_drivers,timestamp_of_crash
0,30,Montana,300019,5,5,0,0,0,7,7,...,45,0,None,0,None,0,None,1,0,2015-03-28 14:58:00+00:00
1,39,Ohio,390099,7,7,0,0,0,15,15,...,24,27,Backup Due to Prior Crash,0,None,0,None,1,0,2015-02-14 11:19:00+00:00
2,49,Utah,490123,16,16,0,0,0,28,28,...,99,0,None,0,None,0,None,1,0,2015-04-14 12:24:00+00:00
3,48,Texas,481184,6,5,1,0,5,5,10,...,99,0,None,0,None,0,None,1,0,2015-05-27 16:40:00+00:00
4,41,Oregon,410333,11,11,0,0,0,14,14,...,99,0,None,0,None,0,None,1,0,2015-11-17 18:17:00+00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32533,4,Arizona,40610,4,4,0,0,0,7,7,...,99,0,None,0,None,0,None,1,0,2015-09-20 14:55:00+00:00
32534,18,Indiana,180132,4,4,0,0,0,6,6,...,99,0,None,0,None,0,None,1,0,2015-03-10 22:30:00+00:00
32535,13,Georgia,130196,4,4,0,0,0,8,8,...,99,0,None,0,None,0,None,1,0,2015-03-02 06:17:00+00:00
32536,39,Ohio,390468,4,4,0,0,0,6,6,...,38,0,None,0,None,0,None,1,0,2015-07-13 07:54:00+00:00
32537,42,Pennsylvania,420089,4,4,0,0,0,4,4,...,88,0,None,0,None,0,None,1,0,2015-02-02 13:27:00+00:00

In [7]:
df1.iloc[:, :30].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32538 entries, 0 to 32537
Data columns (total 30 columns):
 #   Column                                                       Non-Null Count  Dtype
---  ------                                                       --------------  -----
 0   state_number                                                 32538 non-null  Int64
 1   state_name                                                   32538 non-null  object
 2   consecutive_number                                           32538 non-null  Int64
 3   number_of_vehicle_forms_submitted_all                        32538 non-null  Int64
 4   number_of_motor_vehicles_in_transport_mvit                   32538 non-null  Int64
 5   number_of_parked_working_vehicles                            32538 non-null  Int64
 6   number_of_forms_submitted_for_persons_not_in_motor_vehicles  32538 non-null  Int64
 7   number_of_persons_not_in_motor_vehicles_in_transport_mvit    32538 non-null  Int64
 8   number_of_persons_in_motor_vehicles_in_transport_mvit        32538 non-null  Int64
 9   number_of_forms_submitted_for_persons_in_motor_vehicles      32538 non-null  Int64
 10  county                                                       32538 non-null  Int64
 11  city                                                         32538 non-null  Int64
 12  day_of_crash                                                 32538 non-null  Int64
 13  month_of_crash                                               32538 non-null  Int64
 14  year_of_crash                                                32538 non-null  Int64
 15  day_of_week                                                  32538 non-null  Int64
 16  hour_of_crash                                                32538 non-null  Int64
 17  minute_of_crash                                              32538 non-null  Int64
 18  national_highway_system                                      32538 non-null  Int64
 19  land_use                                                     32538 non-null  Int64
 20  land_use_name                                                32538 non-null  object
 21  functional_system                                            32538 non-null  Int64
 22  functional_system_name                                       32538 non-null  object
 23  ownership                                                    32538 non-null  Int64
 24  ownership_name                                               32538 non-null  object
 25  route_signing                                                32538 non-null  Int64
 26  route_signing_name                                           32538 non-null  object
 27  trafficway_identifier                                        32538 non-null  object
 28  trafficway_identifier_2                                      32538 non-null  object
 29  milepoint                                                    32538 non-null  Int64
dtypes: Int64(23), object(7)
memory usage: 8.2+ MB

In [8]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32538 entries, 0 to 32537
Data columns (total 70 columns):
 #   Column                                                       Non-Null Count  Dtype
---  ------                                                       --------------  -----
 0   state_number                                                 32538 non-null  Int64
 1   state_name                                                   32538 non-null  object
 2   consecutive_number                                           32538 non-null  Int64
 3   number_of_vehicle_forms_submitted_all                        32538 non-null  Int64
 4   number_of_motor_vehicles_in_transport_mvit                   32538 non-null  Int64
 5   number_of_parked_working_vehicles                            32538 non-null  Int64
 6   number_of_forms_submitted_for_persons_not_in_motor_vehicles  32538 non-null  Int64
 7   number_of_persons_not_in_motor_vehicles_in_transport_mvit    32538 non-null  Int64
 8   number_of_persons_in_motor_vehicles_in_transport_mvit        32538 non-null  Int64
 9   number_of_forms_submitted_for_persons_in_motor_vehicles      32538 non-null  Int64
 10  county                                                       32538 non-null  Int64
 11  city                                                         32538 non-null  Int64
 12  day_of_crash                                                 32538 non-null  Int64
 13  month_of_crash                                               32538 non-null  Int64
 14  year_of_crash                                                32538 non-null  Int64
 15  day_of_week                                                  32538 non-null  Int64
 16  hour_of_crash                                                32538 non-null  Int64
 17  minute_of_crash                                              32538 non-null  Int64
 18  national_highway_system                                      32538 non-null  Int64
 19  land_use                                                     32538 non-null  Int64
 20  land_use_name                                                32538 non-null  object
 21  functional_system                                            32538 non-null  Int64
 22  functional_system_name                                       32538 non-null  object
 23  ownership                                                    32538 non-null  Int64
 24  ownership_name                                               32538 non-null  object
 25  route_signing                                                32538 non-null  Int64
 26  route_signing_name                                           32538 non-null  object
 27  trafficway_identifier                                        32538 non-null  object
 28  trafficway_identifier_2                                      32538 non-null  object
 29  milepoint                                                    32538 non-null  Int64
 30  latitude                                                     32538 non-null  float64
 31  longitude                                                    32538 non-null  float64
 32  special_jurisdiction                                         32538 non-null  Int64
 33  special_jurisdiction_name                                    32538 non-null  object
 34  first_harmful_event                                          32538 non-null  Int64
 35  first_harmful_event_name                                     32538 non-null  object
 36  manner_of_collision                                          32538 non-null  Int64
 37  manner_of_collision_name                                     32538 non-null  object
 38  relation_to_junction_within_interchange_area                 32538 non-null  object
 39  relation_to_junction_specific_location                       32538 non-null  Int64
 40  relation_to_junction_specific_location_name                  32538 non-null  object
 41  type_of_intersection                                         32538 non-null  object
 42  work_zone                                                    32538 non-null  object
 43  relation_to_trafficway                                       32538 non-null  Int64
 44  relation_to_trafficway_name                                  32538 non-null  object
 45  light_condition                                              32538 non-null  Int64
 46  light_condition_name                                         32538 non-null  object
 47  atmospheric_conditions_1                                     32538 non-null  Int64
 48  atmospheric_conditions_1_name                                32538 non-null  object
 49  atmospheric_conditions_2                                     32538 non-null  Int64
 50  atmospheric_conditions_2_name                                32538 non-null  object
 51  atmospheric_conditions                                       32538 non-null  Int64
 52  atmospheric_conditions_name                                  32538 non-null  object
 53  school_bus_related                                           32538 non-null  object
 54  rail_grade_crossing_identifier                               32538 non-null  object
 55  hour_of_notification                                         32538 non-null  Int64
 56  minute_of_notification                                       32538 non-null  Int64
 57  hour_of_arrival_at_scene                                     32538 non-null  Int64
 58  minute_of_arrival_at_scene                                   32538 non-null  Int64
 59  hour_of_ems_arrival_at_hospital                              32538 non-null  Int64
 60  minute_of_ems_arrival_at_hospital                            32538 non-null  Int64
 61  related_factors_crash_level_1                                32538 non-null  Int64
 62  related_factors_crash_level_1_name                           32538 non-null  object
 63  related_factors_crash_level_2                                32538 non-null  Int64
 64  related_factors_crash_level_2_name                           32538 non-null  object
 65  related_factors_crash_level_3                                32538 non-null  Int64
 66  related_factors_crash_level_3_name                           32538 non-null  object
 67  number_of_fatalities                                         32538 non-null  Int64
 68  number_of_drunk_drivers                                      32538 non-null  Int64
 69  timestamp_of_crash                                           32538 non-null  datetime64[ns, UTC]
dtypes: Int64(43), datetime64[ns, UTC](1), float64(2), object(24)
memory usage: 18.7+ MB

In [9]:
for col in df1.columns:
    if df1[col].apply(type).nunique() == 0:
        print(f"Los tipos de datos de la columna {cols} no son todos del mismo tipo")

In [10]:
for i in range(7):
    display(df1.iloc[:,   i*10 : i*10 + 10].describe())

,state_number,consecutive_number,number_of_vehicle_forms_submitted_all,number_of_motor_vehicles_in_transport_mvit,number_of_parked_working_vehicles,number_of_forms_submitted_for_persons_not_in_motor_vehicles,number_of_persons_not_in_motor_vehicles_in_transport_mvit,number_of_persons_in_motor_vehicles_in_transport_mvit,number_of_forms_submitted_for_persons_in_motor_vehicles
count,32538.0,32538.0,32538.0,32538.0,32538.0,32538.0,32538.0,32538.0,32538.0
mean,27.484049,275542.16347,1.556273,1.520622,0.035651,0.2171,0.22589,2.282562,2.291352
std,16.283983,162763.509273,0.888945,0.85189,0.267064,0.482805,0.509181,1.938906,1.943591
min,1.0,10001.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0
25%,12.0,122043.25,1.0,1.0,0.0,0.0,0.0,1.0,1.0
50%,27.0,270272.5,1.0,1.0,0.0,0.0,0.0,2.0,2.0
75%,42.0,420531.75,2.0,2.0,0.0,0.0,0.0,3.0,3.0
max,56.0,560130.0,58.0,58.0,11.0,16.0,16.0,93.0,93.0

,county,city,day_of_crash,month_of_crash,year_of_crash,day_of_week,hour_of_crash,minute_of_crash,national_highway_system,land_use
count,32538.0,32538.0,32538.0,32538.0,32538.0,32538.0,32538.0,32538.0,32538.0,32538.0
mean,91.316737,1201.200811,15.554767,6.812588,2015.0,4.10185,13.450181,28.956482,0.399103,1.538017
std,94.942054,1886.078795,8.770617,3.357216,0.0,2.093024,10.173214,18.380886,0.717093,0.628475
min,1.0,0.0,1.0,1.0,2015.0,1.0,0.0,0.0,0.0,1.0
25%,31.0,0.0,8.0,4.0,2015.0,2.0,7.0,14.0,0.0,1.0
50%,71.0,0.0,15.0,7.0,2015.0,4.0,14.0,29.0,0.0,2.0
75%,115.0,1960.0,23.0,10.0,2015.0,6.0,19.0,44.0,1.0,2.0
max,999.0,9999.0,31.0,12.0,2015.0,7.0,99.0,99.0,9.0,9.0

       functional_system  ownership  route_signing     milepoint
count            32538.0    32538.0        32538.0       32538.0
mean            4.680865  25.310406       3.612238   13837.88183
std             8.545826  40.832943       1.836584  34233.465284
min                  1.0        1.0            1.0           0.0
25%                  3.0        1.0            2.0           0.0
50%                  4.0        2.0            3.0          50.0
75%                  5.0       25.0            5.0         343.0
max                 99.0       99.0            9.0       99999.0

,latitude,longitude,special_jurisdiction,first_harmful_event,manner_of_collision,relation_to_junction_specific_location
count,32538.000000,32538.000000,32538.0,32538.0,32538.0,32538.0
mean,36.864246,-87.588658,0.034022,18.096042,1.809085,2.188856
std,6.584792,72.244471,0.381574,14.073517,5.315107,5.085441
min,19.273050,-166.549556,0.0,1.0,0.0,1.0
25%,33.132206,-98.078382,0.0,8.0,0.0,1.0
50%,36.369224,-87.760242,0.0,12.0,0.0,1.0
75%,40.608136,-81.353815,0.0,30.0,2.0,2.0
max,99.999900,999.999900,9.0,99.0,99.0,99.0

,relation_to_trafficway,light_condition,atmospheric_conditions_1,atmospheric_conditions_2
count,32538.0,32538.0,32538.0,32538.0
mean,2.375254,1.888991,3.492901,0.283545
std,4.437614,1.141131,9.814978,1.645617
min,1.0,1.0,1.0,0.0
25%,1.0,1.0,1.0,0.0
50%,1.0,2.0,1.0,0.0
75%,4.0,2.0,2.0,0.0
max,99.0,9.0,99.0,12.0

,atmospheric_conditions,hour_of_notification,minute_of_notification,hour_of_arrival_at_scene,minute_of_arrival_at_scene,hour_of_ems_arrival_at_hospital
count,32538.0,32538.0,32538.0,32538.0,32538.0,32538.0
mean,3.644877,55.336253,63.545301,57.186582,65.025877,71.03688
std,9.84363,43.073511,36.687537,43.02083,36.563776,36.909266
min,1.0,0.0,0.0,0.0,0.0,0.0
25%,1.0,14.0,29.0,14.0,30.0,21.0
50%,1.0,23.0,59.0,88.0,88.0,88.0
75%,2.0,99.0,99.0,99.0,99.0,99.0
max,99.0,99.0,99.0,99.0,99.0,99.0

,minute_of_ems_arrival_at_hospital,related_factors_crash_level_1,related_factors_crash_level_2,related_factors_crash_level_3,number_of_fatalities,number_of_drunk_drivers
count,32538.0,32538.0,32538.0,32538.0,32538.0,32538.0
mean,75.622872,1.233481,0.219005,0.124839,1.09054,0.291321
std,30.99221,5.613701,3.680911,3.409601,0.364769,0.472028
min,0.0,0.0,0.0,0.0,1.0,0.0
25%,52.0,0.0,0.0,0.0,1.0,0.0
50%,88.0,0.0,0.0,0.0,1.0,0.0
75%,99.0,0.0,0.0,0.0,1.0,1.0
max,99.0,99.0,99.0,99.0,10.0,3.0

In [11]:
for col in df1.columns:
    if df1[col].apply(type).nunique() == 0:
        print(f"Los tipos de datos de la columna {cols} no son todos del mismo tipo")

In [29]:
df1['state_number'][0:7]

0    30
1    39
2    49
3    48
4    41
5    39
6    39
Name: state_number, dtype: Int64

In [34]:
df1

,state_number,state_name,consecutive_number,number_of_vehicle_forms_submitted_all,number_of_motor_vehicles_in_transport_mvit,number_of_parked_working_vehicles,number_of_forms_submitted_for_persons_not_in_motor_vehicles,number_of_persons_not_in_motor_vehicles_in_transport_mvit,number_of_persons_in_motor_vehicles_in_transport_mvit,number_of_forms_submitted_for_persons_in_motor_vehicles,...,minute_of_ems_arrival_at_hospital,related_factors_crash_level_1,related_factors_crash_level_1_name,related_factors_crash_level_2,related_factors_crash_level_2_name,related_factors_crash_level_3,related_factors_crash_level_3_name,number_of_fatalities,number_of_drunk_drivers,timestamp_of_crash
0,30,Montana,300019,5,5,0,0,0,7,7,...,45,0,None,0,None,0,None,1,0,2015-03-28 14:58:00+00:00
1,39,Ohio,390099,7,7,0,0,0,15,15,...,24,27,Backup Due to Prior Crash,0,None,0,None,1,0,2015-02-14 11:19:00+00:00
2,49,Utah,490123,16,16,0,0,0,28,28,...,99,0,None,0,None,0,None,1,0,2015-04-14 12:24:00+00:00
3,48,Texas,481184,6,5,1,0,5,5,10,...,99,0,None,0,None,0,None,1,0,2015-05-27 16:40:00+00:00
4,41,Oregon,410333,11,11,0,0,0,14,14,...,99,0,None,0,None,0,None,1,0,2015-11-17 18:17:00+00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32533,4,Arizona,40610,4,4,0,0,0,7,7,...,99,0,None,0,None,0,None,1,0,2015-09-20 14:55:00+00:00
32534,18,Indiana,180132,4,4,0,0,0,6,6,...,99,0,None,0,None,0,None,1,0,2015-03-10 22:30:00+00:00
32535,13,Georgia,130196,4,4,0,0,0,8,8,...,99,0,None,0,None,0,None,1,0,2015-03-02 06:17:00+00:00
32536,39,Ohio,390468,4,4,0,0,0,6,6,...,38,0,None,0,None,0,None,1,0,2015-07-13 07:54:00+00:00
32537,42,Pennsylvania,420089,4,4,0,0,0,4,4,...,88,0,None,0,None,0,None,1,0,2015-02-02 13:27:00+00:00

In [35]:
df1[ df1['state_name'] == 'Ohio'].sort_values(['consecutive_number'])

,state_number,state_name,consecutive_number,number_of_vehicle_forms_submitted_all,number_of_motor_vehicles_in_transport_mvit,number_of_parked_working_vehicles,number_of_forms_submitted_for_persons_not_in_motor_vehicles,number_of_persons_not_in_motor_vehicles_in_transport_mvit,number_of_persons_in_motor_vehicles_in_transport_mvit,number_of_forms_submitted_for_persons_in_motor_vehicles,...,minute_of_ems_arrival_at_hospital,related_factors_crash_level_1,related_factors_crash_level_1_name,related_factors_crash_level_2,related_factors_crash_level_2_name,related_factors_crash_level_3,related_factors_crash_level_3_name,number_of_fatalities,number_of_drunk_drivers,timestamp_of_crash
24134,39,Ohio,390001,2,2,0,0,0,2,2,...,55,0,None,0,None,0,None,1,1,2015-01-05 06:55:00+00:00
4037,39,Ohio,390002,2,1,1,0,0,2,2,...,36,14,Motor Vehicle (In Transport 1983-2004) Struck ...,0,None,0,None,2,1,2015-01-01 15:04:00+00:00
422,39,Ohio,390003,3,1,2,1,1,1,1,...,88,19,Recent Previous Crash Scene Nearby (Since 1989),0,None,0,None,1,0,2015-01-03 07:30:00+00:00
29704,39,Ohio,390004,2,2,0,0,0,2,2,...,88,0,None,0,None,0,None,1,0,2015-01-14 07:00:00+00:00
29743,39,Ohio,390005,2,2,0,0,0,3,3,...,20,0,None,0,None,0,None,1,1,2015-01-04 19:56:00+00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27798,39,Ohio,391071,2,2,0,1,1,2,2,...,8,16,Non-Occupant Struck Vehicle (Since 1983),14,Motor Vehicle (In Transport 1983-2004) Struck ...,0,None,1,0,2015-12-22 15:35:00+00:00
26534,39,Ohio,391072,2,2,0,0,0,2,2,...,52,0,None,0,None,0,None,1,0,2015-12-22 21:25:00+00:00
24112,39,Ohio,391073,2,2,0,0,0,3,3,...,3,19,Recent Previous Crash Scene Nearby (Since 1989),0,None,0,None,1,1,2015-07-14 22:17:00+00:00
18053,39,Ohio,391074,1,1,0,0,0,2,2,...,99,0,None,0,None,0,None,1,0,2015-09-30 13:10:00+00:00
12989,39,Ohio,391075,1,1,0,0,0,1,1,...,14,0,None,0,None,0,None,1,1,2015-04-19 01:45:00+00:00

In [37]:
display(df1['state_number'].max())

56

In [38]:
df1[ df1['state_number'] == 56]

,state_number,state_name,consecutive_number,number_of_vehicle_forms_submitted_all,number_of_motor_vehicles_in_transport_mvit,number_of_parked_working_vehicles,number_of_forms_submitted_for_persons_not_in_motor_vehicles,number_of_persons_not_in_motor_vehicles_in_transport_mvit,number_of_persons_in_motor_vehicles_in_transport_mvit,number_of_forms_submitted_for_persons_in_motor_vehicles,...,minute_of_ems_arrival_at_hospital,related_factors_crash_level_1,related_factors_crash_level_1_name,related_factors_crash_level_2,related_factors_crash_level_2_name,related_factors_crash_level_3,related_factors_crash_level_3_name,number_of_fatalities,number_of_drunk_drivers,timestamp_of_crash
25,56,Wyoming,560031,19,18,1,1,3,25,27,...,15,27,Backup Due to Prior Crash,14,Motor Vehicle (In Transport 1983-2004) Struck ...,0,None,2,0,2015-04-20 07:45:00+00:00
260,56,Wyoming,560003,1,1,0,0,0,5,5,...,5,0,None,0,None,0,None,1,0,2015-01-04 08:32:00+00:00
1283,56,Wyoming,560113,1,1,0,0,0,1,1,...,99,0,None,0,None,0,None,1,0,2015-10-27 06:48:00+00:00
1779,56,Wyoming,560095,1,1,0,0,0,1,1,...,88,0,None,0,None,0,None,1,1,2015-08-30 00:20:00+00:00
1915,56,Wyoming,560012,1,1,0,0,0,3,3,...,33,0,None,0,None,0,None,1,1,2015-02-21 06:30:00+00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30941,56,Wyoming,560080,3,3,0,0,0,3,3,...,88,0,None,0,None,0,None,1,0,2015-08-03 11:40:00+00:00
31092,56,Wyoming,560072,3,3,0,0,0,8,8,...,45,14,Motor Vehicle (In Transport 1983-2004) Struck ...,0,None,0,None,1,0,2015-07-28 17:20:00+00:00
31422,56,Wyoming,560081,3,3,0,0,0,6,6,...,24,0,None,0,None,0,None,2,0,2015-08-07 10:00:00+00:00
31423,56,Wyoming,560036,3,3,0,0,0,3,3,...,39,0,None,0,None,0,None,1,0,2015-05-05 15:50:00+00:00
31455,56,Wyoming,560096,3,3,0,0,0,4,4,...,1,0,None,0,None,0,None,1,1,2015-09-01 19:05:00+00:00

In [39]:
df1.sort_values('consecutive_number')

,state_number,state_name,consecutive_number,number_of_vehicle_forms_submitted_all,number_of_motor_vehicles_in_transport_mvit,number_of_parked_working_vehicles,number_of_forms_submitted_for_persons_not_in_motor_vehicles,number_of_persons_not_in_motor_vehicles_in_transport_mvit,number_of_persons_in_motor_vehicles_in_transport_mvit,number_of_forms_submitted_for_persons_in_motor_vehicles,...,minute_of_ems_arrival_at_hospital,related_factors_crash_level_1,related_factors_crash_level_1_name,related_factors_crash_level_2,related_factors_crash_level_2_name,related_factors_crash_level_3,related_factors_crash_level_3_name,number_of_fatalities,number_of_drunk_drivers,timestamp_of_crash
11882,1,Alabama,10001,1,1,0,0,0,1,1,...,88,0,None,0,None,0,None,1,1,2015-01-01 02:40:00+00:00
16228,1,Alabama,10002,1,1,0,0,0,1,1,...,88,0,None,0,None,0,None,1,0,2015-01-01 22:13:00+00:00
11568,1,Alabama,10003,1,1,0,0,0,2,2,...,99,0,None,0,None,0,None,1,1,2015-01-01 01:25:00+00:00
16680,1,Alabama,10004,1,1,0,0,0,1,1,...,88,0,None,0,None,0,None,1,1,2015-01-04 00:57:00+00:00
26314,1,Alabama,10005,2,2,0,0,0,2,2,...,88,0,None,0,None,0,None,1,0,2015-01-07 07:09:00+00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25783,56,Wyoming,560126,2,2,0,0,0,2,2,...,88,0,None,0,None,0,None,2,0,2015-12-09 06:29:00+00:00
12917,56,Wyoming,560127,1,1,0,0,0,3,3,...,36,0,None,0,None,0,None,1,1,2015-12-10 22:20:00+00:00
26390,56,Wyoming,560128,2,2,0,0,0,2,2,...,32,0,None,0,None,0,None,1,0,2015-12-13 11:50:00+00:00
20186,56,Wyoming,560129,2,2,0,0,0,4,4,...,18,0,None,0,None,0,None,1,0,2015-12-14 23:05:00+00:00
11632,56,Wyoming,560130,1,1,0,0,0,1,1,...,16,0,None,0,None,0,None,1,0,2015-12-19 21:55:00+00:00

In [53]:
df1.sort_values('consecutive_number')[780:790]

,state_number,state_name,consecutive_number,number_of_vehicle_forms_submitted_all,number_of_motor_vehicles_in_transport_mvit,number_of_parked_working_vehicles,number_of_forms_submitted_for_persons_not_in_motor_vehicles,number_of_persons_not_in_motor_vehicles_in_transport_mvit,number_of_persons_in_motor_vehicles_in_transport_mvit,number_of_forms_submitted_for_persons_in_motor_vehicles,...,minute_of_ems_arrival_at_hospital,related_factors_crash_level_1,related_factors_crash_level_1_name,related_factors_crash_level_2,related_factors_crash_level_2_name,related_factors_crash_level_3,related_factors_crash_level_3_name,number_of_fatalities,number_of_drunk_drivers,timestamp_of_crash
9552,1,Alabama,10782,1,1,0,0,0,2,2,...,58,0,None,0,None,0,None,1,0,2015-12-19 07:30:00+00:00
13101,1,Alabama,10783,1,1,0,1,1,1,1,...,88,0,None,0,None,0,None,1,0,2015-12-19 18:30:00+00:00
1287,1,Alabama,10784,1,1,0,0,0,5,5,...,88,0,None,0,None,0,None,3,1,2015-12-25 02:00:00+00:00
1262,1,Alabama,10785,1,1,0,0,0,1,1,...,88,0,None,0,None,0,None,1,1,2015-10-03 02:19:00+00:00
12997,2,Alaska,20001,1,1,0,0,0,1,1,...,18,0,None,0,None,0,None,1,1,2015-02-05 00:22:00+00:00
14558,2,Alaska,20002,1,1,0,1,1,2,2,...,17,0,None,0,None,0,None,1,0,2015-01-09 20:01:00+00:00
3603,2,Alaska,20003,1,1,0,0,0,2,2,...,88,0,None,0,None,0,None,1,0,2015-01-21 02:22:00+00:00
6012,2,Alaska,20004,1,1,0,0,0,2,2,...,14,0,None,0,None,0,None,1,1,2015-02-07 00:33:00+00:00
16516,2,Alaska,20005,1,1,0,1,1,5,5,...,88,0,None,0,None,0,None,1,0,2015-03-04 13:34:00+00:00
30838,2,Alaska,20006,3,3,0,0,0,6,6,...,41,0,None,0,None,0,None,1,0,2015-03-12 18:06:00+00:00

In [59]:
df1.sort_values('consecutive_number')[840:880]

,state_number,state_name,consecutive_number,number_of_vehicle_forms_submitted_all,number_of_motor_vehicles_in_transport_mvit,number_of_parked_working_vehicles,number_of_forms_submitted_for_persons_not_in_motor_vehicles,number_of_persons_not_in_motor_vehicles_in_transport_mvit,number_of_persons_in_motor_vehicles_in_transport_mvit,number_of_forms_submitted_for_persons_in_motor_vehicles,...,minute_of_ems_arrival_at_hospital,related_factors_crash_level_1,related_factors_crash_level_1_name,related_factors_crash_level_2,related_factors_crash_level_2_name,related_factors_crash_level_3,related_factors_crash_level_3_name,number_of_fatalities,number_of_drunk_drivers,timestamp_of_crash
8055,2,Alaska,20057,1,1,0,1,1,1,1,...,88,0,None,0,None,0,None,1,0,2015-12-22 17:23:00+00:00
6512,2,Alaska,20058,1,1,0,1,1,1,1,...,24,0,None,0,None,0,None,1,0,2015-12-24 17:06:00+00:00
1976,2,Alaska,20059,1,1,0,1,1,2,2,...,99,0,None,0,None,0,None,1,0,2015-11-14 18:50:00+00:00
29039,2,Alaska,20060,2,2,0,0,0,2,2,...,99,0,None,0,None,0,None,1,1,2015-12-29 21:23:00+00:00
1035,4,Arizona,40001,1,1,0,1,1,1,1,...,88,0,None,0,None,0,None,1,0,2015-01-01 05:14:00+00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5585,4,Arizona,40034,1,1,0,0,0,3,3,...,99,0,None,0,None,0,None,1,0,2015-01-04 17:50:00+00:00
31881,4,Arizona,40036,3,3,0,0,0,8,8,...,99,28,Backup Due to Regular Congestion,0,None,0,None,1,0,2015-01-08 15:57:00+00:00
3978,4,Arizona,40037,1,1,0,0,0,1,1,...,88,0,None,0,None,0,None,1,1,2015-01-09 00:42:00+00:00
31962,4,Arizona,40038,3,3,0,0,0,3,3,...,99,0,None,0,None,0,None,1,0,2015-01-09 07:08:00+00:00
26836,4,Arizona,40039,2,2,0,0,0,2,2,...,57,0,None,0,None,0,None,1,2,2015-01-09 23:40:00+00:00

In [70]:
df1['contador'] = [1 for x in range(32538 )]

In [71]:
df1

,state_number,state_name,consecutive_number,number_of_vehicle_forms_submitted_all,number_of_motor_vehicles_in_transport_mvit,number_of_parked_working_vehicles,number_of_forms_submitted_for_persons_not_in_motor_vehicles,number_of_persons_not_in_motor_vehicles_in_transport_mvit,number_of_persons_in_motor_vehicles_in_transport_mvit,number_of_forms_submitted_for_persons_in_motor_vehicles,...,related_factors_crash_level_1,related_factors_crash_level_1_name,related_factors_crash_level_2,related_factors_crash_level_2_name,related_factors_crash_level_3,related_factors_crash_level_3_name,number_of_fatalities,number_of_drunk_drivers,timestamp_of_crash,contador
0,30,Montana,300019,5,5,0,0,0,7,7,...,0,None,0,None,0,None,1,0,2015-03-28 14:58:00+00:00,1
1,39,Ohio,390099,7,7,0,0,0,15,15,...,27,Backup Due to Prior Crash,0,None,0,None,1,0,2015-02-14 11:19:00+00:00,1
2,49,Utah,490123,16,16,0,0,0,28,28,...,0,None,0,None,0,None,1,0,2015-04-14 12:24:00+00:00,1
3,48,Texas,481184,6,5,1,0,5,5,10,...,0,None,0,None,0,None,1,0,2015-05-27 16:40:00+00:00,1
4,41,Oregon,410333,11,11,0,0,0,14,14,...,0,None,0,None,0,None,1,0,2015-11-17 18:17:00+00:00,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32533,4,Arizona,40610,4,4,0,0,0,7,7,...,0,None,0,None,0,None,1,0,2015-09-20 14:55:00+00:00,1
32534,18,Indiana,180132,4,4,0,0,0,6,6,...,0,None,0,None,0,None,1,0,2015-03-10 22:30:00+00:00,1
32535,13,Georgia,130196,4,4,0,0,0,8,8,...,0,None,0,None,0,None,1,0,2015-03-02 06:17:00+00:00,1
32536,39,Ohio,390468,4,4,0,0,0,6,6,...,0,None,0,None,0,None,1,0,2015-07-13 07:54:00+00:00,1
32537,42,Pennsylvania,420089,4,4,0,0,0,4,4,...,0,None,0,None,0,None,1,0,2015-02-02 13:27:00+00:00,1

In [72]:
df1.groupby(['state_name']).sum()

,state_number,consecutive_number,number_of_vehicle_forms_submitted_all,number_of_motor_vehicles_in_transport_mvit,number_of_parked_working_vehicles,number_of_forms_submitted_for_persons_not_in_motor_vehicles,number_of_persons_not_in_motor_vehicles_in_transport_mvit,number_of_persons_in_motor_vehicles_in_transport_mvit,number_of_forms_submitted_for_persons_in_motor_vehicles,county,...,hour_of_arrival_at_scene,minute_of_arrival_at_scene,hour_of_ems_arrival_at_hospital,minute_of_ems_arrival_at_hospital,related_factors_crash_level_1,related_factors_crash_level_2,related_factors_crash_level_3,number_of_fatalities,number_of_drunk_drivers,contador
state_name,,,,,,,,,,,,,,,,,,,,,
Alabama,784,8148405,1202,1184,18,123,133,1748,1758,58396,...,14091,25669,66630,67664,842,94,50,850,221,784
Alaska,120,1201830,88,88,0,13,13,145,145,5407,...,2004,2779,3058,3610,91,14,0,65,24,60
Arizona,3244,32783422,1282,1246,36,203,209,1977,1983,13163,...,23565,34519,43341,50151,991,67,28,897,242,811
Arkansas,2455,24674763,776,759,17,54,57,1115,1118,36983,...,12542,19524,46893,46893,596,224,198,550,142,491
California,18738,192271214,4912,4718,194,1058,1091,7055,7088,178357,...,307497,307831,295648,295695,5777,605,198,3387,1005,3123
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Virginia,36312,363374083,1043,1018,25,99,105,1461,1467,144983,...,34178,41101,43957,48389,573,0,0,754,223,712
Washington,26447,264601410,792,768,24,108,112,1259,1263,22019,...,36161,38286,37651,39314,315,47,0,551,163,499
West Virginia,13284,132870672,364,355,9,21,21,528,528,12810,...,14717,16404,17303,18165,217,99,99,268,70,246
Wisconsin,28765,287789121,812,802,10,81,94,1172,1185,39487,...,27130,31644,41065,42906,611,118,23,566,185,523
Wyoming,7224,72248469,198,192,6,6,9,319,322,2561,...,2719,4707,6648,7746,180,28,0,145,54,129

In [73]:
df1.groupby(['state_name']).sum().sort_values(['contador'])

,state_number,consecutive_number,number_of_vehicle_forms_submitted_all,number_of_motor_vehicles_in_transport_mvit,number_of_parked_working_vehicles,number_of_forms_submitted_for_persons_not_in_motor_vehicles,number_of_persons_not_in_motor_vehicles_in_transport_mvit,number_of_persons_in_motor_vehicles_in_transport_mvit,number_of_forms_submitted_for_persons_in_motor_vehicles,county,...,hour_of_arrival_at_scene,minute_of_arrival_at_scene,hour_of_ems_arrival_at_hospital,minute_of_ems_arrival_at_hospital,related_factors_crash_level_1,related_factors_crash_level_2,related_factors_crash_level_3,number_of_fatalities,number_of_drunk_drivers,contador
state_name,,,,,,,,,,,,,,,,,,,,,
District of Columbia,253,2530276,32,30,2,18,18,45,45,23,...,596,876,829,1101,23,0,0,23,5,23
Rhode Island,1804,18040891,58,58,0,9,9,101,101,267,...,522,1187,1121,1819,21,0,0,45,18,41
Vermont,2500,25001275,72,70,2,9,9,104,104,716,...,962,1465,2308,2659,83,0,0,57,14,50
Alaska,120,1201830,88,88,0,13,13,145,145,5407,...,2004,2779,3058,3610,91,14,0,65,24,60
Hawaii,1275,12753761,132,124,8,31,33,193,195,335,...,1172,2916,2982,3984,155,14,0,93,27,85
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
North Carolina,47175,472569583,1979,1949,30,225,226,2895,2896,131271,...,31771,48898,68993,78999,1057,99,0,1379,399,1275
Georgia,17277,173659745,2072,2049,23,233,240,3057,3064,180691,...,65207,77286,73511,83251,1072,85,0,1432,304,1329
Florida,32388,327694778,4238,4164,74,860,872,6191,6203,190030,...,261531,262700,257393,257395,1843,92,0,2938,644,2699
California,18738,192271214,4912,4718,194,1058,1091,7055,7088,178357,...,307497,307831,295648,295695,5777,605,198,3387,1005,3123
Texas,153120,1536414484,5104,4994,110,672,724,7710,7762,752108,...,206418,226660,196454,216972,4166,671,114,3582,871,3190